<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, follow">
    <title>Đăng ký - Tracy Shop</title>

    <link href="~/css/register-login.css" rel="stylesheet" />
    <link href="~/Client/img/logo_150.png" rel="shortcut icon">
</head>

<body>
    <div class="main">
        <div class="register-content">
            <div class="register-form wow zoomIn" data-wow-delay="0.5s">
                <img src="~/Client/img/logo-shop.png" alt="OU" id="logo" />
                <form method="post" class="form-login" id="form-login">
                    <div class="form-group">
                        <input type="text" name="name" id="name" placeholder="Họ và tên" />
                    </div>
                    <div class="form-group">
                        <input type="tel" name="phone" id="phone" placeholder="Số điện thoại" />
                    </div>
                    <div class="form-group">
                        <input type="email" name="username" id="username" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" placeholder="Mật khẩu mới" />
                    </div>
                    <div class="form-group">
                        <input type="password" name="password_again" id="password_again" placeholder="Nhập lại mật khẩu" />
                    </div>

                    <div class="form-group form-button">
                        <input type="submit" style="text-transform: uppercase" name="register" id="signup" class="form-submit" value="Đăng ký" />
                    </div>

                    <p style="text-align:center">Hoặc đăng ký bằng</p>
                    <div class="form-group form-button" id="social">
                        <div id="facebook">
                            <input type="submit" class="form-submit" name="register" id="fb" value="Facebook" />
                        </div>
                        <div id="google">
                            <input type="submit"class="form-submit" name="register" id="gg" value="Google" />
                        </div>
                    </div>
                    
                    <div class="form-group sugget-text">
                        <div class="text">Bạn đã có tài khoản?</div>
                        <div class="link register-link">
                            <a href="login.html">Đăng nhập</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</body>
</html>