@model TracyShop.ViewModels.ChangePasswordModel
@{
    Layout = "_LayoutProfile";
    ViewData["title"] = "Change Password";
}

<div class="card">
    <div class="card-body">
        <h1 class="card-title">Đổi mật khẩu</h1>
        <p class="card-title">Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác</p>
    </div>
    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success" role="alert">
            Mật khẩu đã được cập nhật thành công.
        </div>
    }
    <form asp-action="ChangePassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CurrentPassword" class="control-label"></label>
            <input asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmNewPassword" class="control-label"></label>
            <input asp-for="ConfirmNewPassword" class="form-control" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <div class="form-group forgot-pass">
            <a asp-controller="Login" asp-action="ForgotPassword">Quên mật khẩu?</a>
        </div>
        <div class="form-group save">
            <input type="submit" value="Lưu thay đổi" class="btn custom-btn" />
        </div>
    </form>
</div>

