@{ 
    Layout = "_LayoutProfile";
    ViewData["title"] = "Profile";
}


<div class="card-body">
    <h1 class="card-title">Hồ sơ của tôi</h1>
    <p class="card-title">Quản lý hồ sơ</p>
</div>
<div class="card-text">
    <div class="input">
        <p>
            Tên đăng nhập
            <label style="margin-left: 5%;">uyennguyen0721</label>
        </p>
    </div>
    <div class="input">
        <p>Tên<input type="text" name="name" maxlength="255" value="Uyên Nguyễn" /></p>
    </div>
    <div class="input">
        <p>Email<input type="email" name="email" maxlength="255" value="uyennguyen0721@@gmail.com" /></p>
    </div>
    <div class="input">
        <p>Số điện thoại<input type="tel" name="phone" maxlength="255" value="0947653170" /></p>
    </div>
    <div>
        <p>
            Giới tính
            <input type="radio" name="gender" />
            <label for="nam">Nam</label>
            <input type="radio" name="gender" />
            <label for="nu">Nữ</label>
            <input type="radio" name="gender" />
            <label for="other">Khác</label>
        </p>
    </div>
    <div>
        <p>Ngày sinh<input type="date" name="date" maxlength="255" /></p>
    </div>
</div>
<div class="save">
    <input type="submit" class="btn custom-btn" value="Lưu thay đổi" />
</div>