@{ 
    Layout = "_LayoutProfile";
    ViewData["title"] = "Profile";
}


<div class="card-body">
    <h1 class="card-title">Hồ sơ của tôi</h1>
    <p class="card-title">Quản lý hồ sơ</p>
</div>
<form asp-action="ChangePassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">Tên đăng nhập</label>
        <input class="form-control" type="text" value="uyennguyen0721@@" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Họ và tên</label>
        <input class="form-control" type="text" value="Nguyễn Thị Thu Uyên" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Email</label>
        <input class="form-control" type="email" value="uyennguyen0721@@gmail.com" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Số điện thoại</label>
        <input class="form-control" type="tel" value="0947653170" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Giới tính</label>
        <input type="radio" name="gender" />
        <label for="nam">Nam</label>
        <input type="radio" name="gender" />
        <label for="nu">Nữ</label>
        <input type="radio" name="gender" />
        <label for="other">Khác</label>
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Ngày sinh</label>
        <input class="form-control" type="date" maxlength="255" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group save">
        <input type="submit" value="Lưu thay đổi" class="btn custom-btn" />
    </div>
</form>
