
@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header Start -->
<div class="cart-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="wow fadeInDown" data-wow-delay="0.5s">Thanh toán</h2>
            </div>
            <div class="col-12 wow fadeInUp" data-wow-delay="0.5s">
                <a asp-controller="Home" asp-action="Index">Home</a>
                <a asp-controller="Product" asp-action="Product">Order</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="container" style="margin-top: 5%; margin-bottom: 10%;">
    <div class="card">
        <div class="alert alert-success" role="alert">
            <p>
                Thanh toán thành công
            </p>

        </div>
        <div class="text text-center" style="margin: 1%;">
            <p>Cảm ơn bạn đã tin tưởng chúng tôi. Đơn hàng của bạn sẽ được giao trong vòng 3 - 4 ngày. <a asp-action="Product" asp-controller="Product">Tiếp tục mua sắm</a> để thêm nhiều sản phẩm vào Giỏ hàng thôi!</p>
        </div>
    </div>
</div>



