@{
    Layout = "_Layout";
    ViewData["Title"] = "Product";
}
<!-- Page Header Start -->
<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="wow fadeInDown" data-wow-delay="0.5s">Sản phẩm</h2>
            </div>
            <div class="col-12 wow fadeInUp" data-wow-delay="0.5s">
                <a asp-controller="Home" asp-action="Index">Home</a>
                <a asp-controller="Product" asp-action="Product">Product</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
