@model TracyShop.ViewModels.ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@if (Model?.IsSuccess == true)
{
    <div class="alert alert-success" role="alert">
        <p>
            Bạn đã cập nhật mật khẩu thành công.
        </p>
    </div>
    <a asp-controller="Login" asp-action="Login" class="btn btn-primary">Tiến hành đăng nhập</a>
}
else
{
    <form asp-action="ResetPassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserId" class="form-control" />
        <input type="hidden" asp-for="Token" class="form-control" />
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmNewPassword" class="control-label"></label>
            <input asp-for="ConfirmNewPassword" class="form-control" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Đặt lại mật khẩu" class="btn btn-primary" />
        </div>
    </form>
}

