@model TracyShop.Models.AppUser

@{
    ViewData["Title"] = "Delete Products";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Xóa nhân viên</h1>
</div>

<h4 class="text-danger">Bạn chắc chắn muốn xóa nhân viên này?</h4>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Tên nhân viên
        </dt>
        <dd class="col-sm-10"
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Giới tính
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            Ngày sinh
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> &nbsp
        <a asp-area="Admin" asp-controller="Products" asp-action="Index" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-arrow-alt-circle-left text-white-50"></i> Quay lại
        </a>
    </form>
</div>