@model TracyShop.Models.AppUser

@{
    ViewData["Title"] = "Edit Category";
    Layout = "_Layout";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Chỉnh sửa thông tin nhân viên</h1>
    <a asp-area="Admin" asp-controller="Employee" asp-action="Details" asp-route-id="@Model.Id" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-arrow-alt-circle-left text-white-50"></i> Quay lại
    </a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="UserName" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Họ và tên</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label" style="margin-right: 15px">Giới tính</label>
                <input asp-for="Gender" value="Nam" type="radio" />
                <label asp-for="Gender" for="Male" style="margin-right: 15px">Nam</label>
                <input asp-for="Gender" value="Nữ" type="radio" />
                <label asp-for="Gender" for="Female" style="margin-right: 15px">Nữ</label>
                <input asp-for="Gender" value="Khác" type="radio" />
                <label asp-for="Gender" for="Orther">Khác</label>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label">Ngày sinh</label>
                <input asp-for="Birthday" class="form-control" type="date" maxlength="255" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                <input asp-for="PhoneNumber" class="form-control" type="tel" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="hidden" class="form-check-input" asp-for="Is_active" /> Đang hoạt động
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu thông tin" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
