/*******************************/
/********* Register CSS ********/
/*******************************/
.main {
    background: #f8f8f8;
    display: flex;
    width: 100vw;
    max-height: 120vh;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url(../img/background.png) no-repeat center;
    background-size: cover;
}

div {
    display: block;
}

body {
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-weight: 400;
    font-family: Barlow;
    font-size: 14px;
    width: 50%;
    height: 50%;
    border-radius: 20px;
}

div.register-content {
    width: 25%;
    height: 85%;
    padding: 24px;
    border-radius: 10px;
    background-color: white;
}



div.register-form {
    width: 100%;
    height: 100%;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


input {
    background: 0 0;
    outline: unset;
    border: none;
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 1px solid #d6cdbc;
    outline: 0 !important;
    box-shadow: none;
}


.form-group {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}


.form-submit {
    color: #ffffff;
    font-size: 14px;
    overflow: visible;
    min-height: 42px;
    display: flex;
    line-height: normal;
    align-items: center;
    justify-content: center;
    width: 97%;
    padding: 10px 10px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

.forgot-password {
    text-align: right;
    margin-top: 7px;
    cursor: pointer;
}

    .forgot-password > a {
        font-weight: bold;
        color: #d4b774;
        text-decoration: none;
    }

        .forgot-password > a:hover {
            font-weight: bold;
            color: #8C7339;
            text-decoration: none;
        }

.form-input > input {
    width : 100%;
}

.form-check-label {
    font-weight: bold;
    color: #d4b774;
    margin-top: 10px;
}

#login {
    box-shadow: 0 3px 25px 0 rgb(0 0 0 / 20%);
    margin: 10px 5px;
    background: #d8b979;
}

#social {
    display: flex;
    font-size: 14px;
    justify-content: center;
    margin: 10px auto;
}

#facebook {
    width: 40% !important;
    margin-right: 10px;
    text-transform: none !important;
    border: 0;
}

#fb {
    background: #08088A;
}

#google {
    width: 40% !important;
    margin-left: 10px;
    text-transform: none !important;
    border: 0;
}

#gg {
    background: #DF0101;
}


.sugget-text {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.sugget-text .link > a {
    font-weight: bold;
    color: #d4b774;
    margin-left: 8px;
    cursor: pointer;
}

    .sugget-text .link > a:hover {
        font-weight: bold;
        color: #8C7339;
        margin-left: 8px;
        cursor: pointer;
    }

@media(max-width: 865px){
    div.register-content {
        width: 35%;
        height: 85%;
        padding: 24px;
        border-radius: 10px;
        background-color: white;
    }
}

@media(max-width: 605px) {
    div.register-content {
        width: 50%;
        height: 85%;
        padding: 24px;
        border-radius: 10px;
        background-color: white;
    }
}

@media(max-width: 400px) {
    div.register-content {
        width: 80%;
        height: 85%;
        padding: 24px;
        border-radius: 10px;
        background-color: white;
    }
}

@media(max-width: 353px) {
    div.register-content {
        width: 90%;
        height: 85%;
        padding: 24px;
        border-radius: 10px;
        background-color: white;
    }
}
